body{
    background-color:rgb(191, 219, 245);
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar-nav {
    
    margin-top: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}